$green: #00000044;
$fuscia: #ffd700;
$white: white;

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

.contact-page {
  display: flex;  
  align-items: flex start;
  justify-content: space-around;
  align-items: start;
  top:-400px;
  position:relative;
  

  .item {
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 0;
    
  }

     h1 {
       color: #444;
       font-size: 40px;
       line-height: 53px;
       margin: 0;
       font-family: 'Coolvetica';
       font-weight: 400;
  
       span {
         line-height: 50px;
         letter-spacing: 2px;
       }
  
     }
  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    border: 1px solid #c9c9c9;;
    height: 30px;
    font-size: 14px;
    color: #444;
    font-family: 'Montserrat Regular';
    padding: 0 5px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    border: 1px solid #c9c9c9;    
    font-family: 'Montserrat Regular';
    height: 30px;
    font-size: 14px;
    color: #444;
    padding: 5px;
    box-sizing: border-box;
    min-height: 150px;
  }

  
}


.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

.grid {
 
  font-family: 'Montserrat Regular'; 
  font-size: 14px;
  
}

.contact-list {  
  display: grid;  
  gap: 10px;
  justify-content: start;
 
}

.c-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $green;
  background-color: $white;
  padding: rem(5px) rem(5px) rem(5px) rem(25px);
  border-radius: 999px; 
  width:290px;
  color: #909090;
 

  &:hover,
  &:focus {
    color: $fuscia;
  }
}

.c-icon-button__icon {
  display: flex;
  flex: 0 0 auto;
  border-radius: 50%;
  width: rem(25px);
  height: rem(25px);
  background-color: $fuscia;
  color: $white;
  align-items: center;
  font-size: rem(20px);
  padding: rem(10px);
  margin-left: auto;

  svg {
    fill: $white;
    width: 100%;
    height: 100%;
  }
}

.c-icon-button__label {
  margin-right: rem(10px);
}

.c-icon-button__detail {
  display: flex;
  margin-right: rem(20px);
  overflow-wrap: anywhere;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Inline-block */
.contact-list--inline-block {
  display: inline-block;
  margin: 0;
}

/* Inline-flex */
.contact-list--inline-flex {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
}

/* Flex */
.contact-list--flex {
  display: flex;
  flex-direction: column;
}

// Set delay per List Item
@for $i from 1 through 10 {
  li:nth-child(#{$i}) {
    animation-delay: 0.5s * $i;
  }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }

  75% {
    opacity: 0.5;
    top: 0px;
  }

  100% {
    opacity: 1;
  }
}

