html {
  font-size: 62.5%;
margin: 0;

}

body {

  margin: auto auto;
  font-family: 300 11px/1.4 "Helvetica Neu", Helvetica, Arial, sans-serif;
  color: #444;
  height: auto;

  /* background: #00080d; */
  background: url('./assets/images/background.jpeg') no-repeat center center fixed; 
  overflow: hidden;
  background-size: cover;
  display: block;
  /* background-attachment: #022c43; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);

}